<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    {% block style %}
    <link rel="stylesheet" href="{{ static }}css/style.css">
    {% endblock %}
</head>
<body>
    <div id="main">
        {% block menu %}    {% endblock %}
        {% block body %}    {% endblock %}
        {% block footer %}    {% endblock %}
    </div>
</body>
</html>