{% extends "base.html" %}
{% block title %}
	simplestyle_banner
{% endblock %}

{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
<div id="content_header"></div>
<div id="site_content">
    <div>
        <a href="/souvenir_list/?id={{id}}">назад</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Создание сувенира для категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку сувениров</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}